# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.spec

# Installer / executables
*.exe

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
